# encoding: utf-8
<li class="span2" id="pic" >
      <div class="thumbnail" style="height:200px;">
        <img src="/products/<%= @part.spec.product.image_url%>" alt="" style="width:auto;height: 60px;">
        <h3></h3>
        <p>
          <strong>
            <%= @part.spec.bh %>
          </strong>
        <br/>
          <span >
          数量：<%= @part.quantity %>
        </span>
        <br/>
        
        <span style="background-color:<%= @part.spec.color.value %>;width:10px;">
          &nbsp&nbsp&nbsp
        </span>
        <%= @part.spec.color.name %>
        <br/>
        
        
         </p>
        
      </div>
    </li>