<div class='well'>
    <div id="fields">
	
	<%= f.label :name, "零件小包名称" %>
        <%= f.text_field :name %>
        <%= f.label :quantity, "零件小包数量" %>
        <%= f.text_field :quantity %>
        
        <%= f.fields_for :parts,:child_index => "new_parts"  do |sb| %>
        <%= render 'part_fields', :f => sb %>
        <% end %>  
    </div>
    <div>
        <%= link_to "新增零件",new_part_path,:class=>"btn btn-success",:remote=>true %>
    </div>

    <ul class="thumbnails center" id="itemContainer">      
        
        </ul>
</div>