
      <div class="tab-pane <%= 'active' if p==1 %>" id="npanel<%= p %>">  
        <%= f.label :name, "零件包名称" %>
        <%= f.text_field :name %>
        <%= f.label :quantity, "零件包数量" %>
        <%= f.text_field :quantity %>
        <%= f.label :_destroy,"移除" %>
        <%= f.check_box :_destroy %>
        <div class="btn-group" style="padding:10px 0 10px 0;">
        <%= link_to "新增零件",'#',:class=>"btn ",:id=>"new_part_#{p}" %>
        <%
        association=:parts
        new_object = f.object.class.reflect_on_association(association).klass.new
         
            fields = f.fields_for(association, new_object, :child_index => "new_#{association}") do |builder|
              render("npart_fields", :f => builder)
            end
        %>
        <SCRIPT TYPE="text/javascript">
        $("a#new_part_<%= p %>").on( "click", function( event ) {       
          event.preventDefault();
          for (var i=0; i<10; i++)
          {
          var new_id = new Date().getTime();
          var regexp = new RegExp("new_part" , "g");
          $(".tab-content .active #package_content .active #fields").prepend("<%= escape_javascript(fields) %>".replace(regexp, new_id+i.toString() ));
          }
        });

        </SCRIPT>

        <a href="#new" id="new_small_package_<%= p %>" class='btn'>添加零件小包</a>
        <%
        association=:children
        new_object = Package.new
         new_object.parts.build 
            fields = f.fields_for(association, new_object, :child_index => "new_#{association}") do |builder|
              render(association.to_s.singularize + "_fields", :f => builder)
            end
        %>
        <SCRIPT TYPE="text/javascript">
        $("a#new_small_package_<%= p %>").on( "click", function( event ) {

          size=$("#npanel<%= p %> ul#package_tab li").size()+1;
          $("#npanel<%= p %> ul#package_tab").append("<li><a href='#ptab<%= p %>"+size+"' data-toggle='tab'>小零件包"+size+"</a></li>");
          var new_id = new Date().getTime();
          var regexp = new RegExp("new_children" , "g");
          $("#npanel<%= p %> div.tab-content ").append("<div class='tab-pane ' id='ptab<%= p %>"+size+"'><%= escape_javascript(fields) %> </div>".replace(regexp, new_id));
          $('#npanel<%= p %> #package_tab a:last').tab('show');
        });

        </SCRIPT>

      </div>

      <ul class="nav nav-tabs " id="package_tab">
      
      <li class="active">
        <a href="#ptab<%= p %>" data-toggle='tab'>零件列表</a>
      </li>
      
      <%= f.fields_for :children do  |builder| %>
      <li><a href='#sptab<%= builder.object.name %>' data-toggle='tab'><%= builder.object.name %></a></li>
      <% end %>
      </ul>  
        
      
      <div class="tab-content" id="package_content">
        <div class="tab-pane active" id='ptab<%= p %>'>  
          <div id="fields" >
                 <%= f.fields_for :parts  do |builder| %>
                 <%= render 'npart_fields', :f=>builder %>
                 <% end %>
          </div>
          
        
          <%#= f.fields_for :parts,:child_index => "new_parts"  do |sb| %>
          <%#= render 'part_fields', :f => sb %>
          <%# end %>  
   
          <ul class="thumbnails center" id="itemContainer">      
            
          </ul>
        </div>
        
        <%= f.fields_for :children do |builder| %>
          
          <div class='tab-pane ' id='sptab<%= builder.object.name %>'>
            <%= render 'child_fields',:f=>builder %>
          </div>          
        <% end %>
      </div>
</div>