
      <div class="tab-pane <%= 'active' if p==1 %>" id="n<%= p %>">    
        
      
      
<div id="fields" >
        <%= f.label :name, "零件包名称" %>
        <%= f.text_field :name %>
        <%= f.label :quantity, "零件包数量" %>
        <%= f.text_field :quantity %>
      </div>
      <div class="btn-group">
        <%= link_to "新增零件",new_part_path,:class=>"btn btn-success",:remote=>true %>
        <%= link_to "新增零件小包",new_sp_parts_path,:class=>"btn btn-success",:remote=>true %>
        <a href="#new" id="new_small_package_<%= p %>" class='btn'>添加零件小包</a>
        <%
        association=:small_package
        new_object = Part.new
        new_object.children.build
            fields = f.fields_for(association, new_object, :child_index => "new_#{association}") do |builder|
              render(association.to_s.singularize + "_fields", :f => builder)
            end
        %>
        <SCRIPT TYPE="text/javascript">
        $("a#new_small_package_<%= p %>").on( "click", function( event ) {
          
          $("div.tab-content .active").append("<%= escape_javascript(fields) %>");
          
        });

        </SCRIPT>

      </div>
      
        <%= f.fields_for :parts,:child_index => "new_parts"  do |sb| %>
        <%= render 'part_fields', :f => sb %>
        <% end %>  
 
        <ul class="thumbnails center" id="itemContainer">      
        
        </ul>


</div>