<div class='well'>
	<div id="fields">
	<%= f.label :name, "零件包名称" %>
        <%= f.text_field :name %>
        <%= f.label :quantity, "零件包数量" %>
        <%= f.text_field :quantity %>
        
        <%= f.label :_destroy,"移除" %>
        <%= f.check_box :_destroy %>
        <%#= f.fields_for :parts,:child_index => "new_parts"  do |sb| %>
        <%#= render 'part_fields', :f => sb %>
        <%# end %>  
        <%
        association=:parts
        new_object = Part.new
        
            fields = f.fields_for(association, new_object, :child_index => "new_#{association}") do |builder|
              render(association.to_s.singularize + "_fields", :f => builder)
            end
        %>
        <%= fields %>
    </DIV>
</div>  
    <div>
        <%= link_to "新增零件",new_part_path,:class=>"btn btn-success",:remote=>true %>
    </div>
    <ul class="thumbnails center" id="itemContainer">      
        <%= f.fields_for :parts  do |sb| %>
          
          
          <%= render 'pic',:f=>sb %>
        <% end %>  
    </ul>
