

<li class="span2" id="pic" >
      <div class="thumbnail" style="height:170px;">
        <a title="<%= toy.name %>" rel="prettyPhoto" href="<%= toy.photo.url %>">
        <img src="<%= toy.photo.url %>" alt="" style="width:auto;height: 60px;" class="img-polaroid">
        </a>
        <p>
          <strong>
            <%= link_to toy.name ,toy_path(toy) %>
          </strong>          
        <br/>
        <%= toy.title if toy.title %>
        <br/>
        <strong>
          零件总数：<%= toy.count_for_part %>
        </strong>
        <br/>
          <%= link_to '查看',toy_path(toy) %> |
		<% if can? :manage, @toy %>
		<%= link_to '编辑',edit_toy_path(toy) %> |		
		<%= link_to "删除", toy, 'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？"%> |
		
		<% end %>
        <% if can? :manage, Porder %>
        <%= link_to '生产',new_toy_porder_path(toy) %>
        <% end %>
         </p>
        
      </div>
    </li>