

<li class="span2" id="pic" >
      <div class="thumbnail">
        <img src="<%= toy.photo.url %>" alt="" style="width:auto;height: 60px;">
        
        <p>
          <strong>
            <%= link_to toy.name ,toy_path(toy) %>
          </strong>
        <br/>
          <%= link_to '查看',toy_path(toy) %> |
		<% if can? :manage, @toy %>
		<%= link_to '编辑',edit_toy_path(toy) %> |		
		<%= link_to "删除", toy, 'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？"%> |
		<%= link_to '生产',new_toy_porder_path(toy) %>
		<% end %>
        
         </p>
        
      </div>
    </li>