# encoding: utf-8
<div class="contentwrapper"><!--Content wrapper-->

<%= render '/share/head',:title=>'成品管理',:here=>'新增成品' %>

<div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>成品编辑</span>
          </h4>
          
        </div>
        <div class="content ">
          

<%= form_for @toy do |f| %>
  <% if @toy.errors.any? %>
              <div class="alert alert-block alert-error">
                <a class="close" data-dismiss='alert' href="#">×</a>
                <p><strong>有 <%= @toy.errors.count %> 处问题导至无法提交:</strong></p>
                <ul>
                  <% @toy.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>

            <% end %>
  <div class="controls controls-row">
    <div class="span3">
    <%= f.label :name,"成品编号" %>
    <%= f.text_field :name %>
    </div>
    <div class="span3">
    <%= f.label :title,"成品名称" %>
    <%= f.text_field :title %>
    </div>
    <div class="span4">
      <label>成品图片</label>
      <%= f.file_field :photo %>
      <%= f.hidden_field :photo_cache %>
      <% if @toy.photo %>
      <img src="<%= @toy.photo.url %>" alt="" style="width:auto;height: 40px;"> 
      <% end %>
    </div>
    <div class="span2">
      
    </div>
  </div>
<a href="#new" id="new" class='btn'>添加零件包</a>

<%
association=:packages
new_object = f.object.class.reflect_on_association(association).klass.new
new_object.parts.build
    fields = f.fields_for(association, new_object, :child_index => "new_#{association}") do |builder|
      render(association.to_s.singularize + "_fields", :f => builder)
    end
%>
<SCRIPT TYPE="text/javascript">
$("a#new").on( "click", function( event ) {
  size=$("ul#myTab li").size()+1;
  $("ul#myTab").append("<li><a href='#n"+size+"' data-toggle='tab'>新零件包"+size+"</a></li>");
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_packages" , "g");
  var sregexp =new RegExp("new_small_package","g");
  var tregexp =new RegExp("ptab","g");
  var nregexp =new RegExp("npanel","g");
  $("div#big_package").append("<div class='tab-pane ' id='n"+size+"'><%= escape_javascript(fields) %> </div>".replace(regexp, new_id).replace(sregexp,"sp"+new_id).replace(tregexp,"ptab"+new_id).replace(nregexp,"npanel"+new_id));
  $('#myTab a:last').tab('show');
});

</SCRIPT>
<div class="tabbable tabs-left" style='padding: 10px 0;'>
    <ul class="nav nav-tabs " id="myTab">
      <% n=0 %>
      <%= f.fields_for :packages do |builder| %>
      <% n+=1 %>
      <li class="<%= 'active' if n==1 %>">
        <a href="#npanel<%= n %>"><%= builder.object.name %></a>
      </li>
      <% end %>
      
    </ul>
    <div class="tab-content" id="big_package">
      <% p=0 %>
      <%= f.fields_for :packages do |builder| %>
      <% p+=1 %>
      <%= render 'edit_package', :f => builder,:p=>p %>
      <% end %>

    </div>
     
</div>
  
  <p>
  <button type='submit' class="btn btn-success ">保存</button>或者<%= link_to '返回列表', toys_path %>
  </p>
<% end %>



  <div id="part-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">零件</h3>
    </div>
    <div class="modal-body">

    </div>

  </div>

</div>

</div><!-- End .box -->

    </div>

  </div>  <!-- end row-flow -->

</div><!--end Content wrapper-->