<div class="contentwrapper"><!--Content wrapper-->


<p id="notice"><%= notice %></p>

<div class="row-fluid">
    <div class="span12">

      <div class="well">
        <span>
        成品：<%= @toy.name %>  
        </span>
        <button type="submit" class="btn btn-success ">改名</button>
        <button type="submit" class="btn btn-success ">新增零件包</button>
      </div>

      



  <div class="tabbable tabs-left">
<ul class="nav nav-tabs " id="myTab">
	<% first=true %>
<% @toy.packages.each do |package| %>

  <li  <%= "class='active'" if first %> >
  	<a href="#<%= package.id %>"><%= package.name %></a>
  </li>  
  <% first=false %>
<% end %>

</ul>

<div class="tab-content">
	<% first=true %>
<% @toy.packages.each do |package| %>

  <div class="tab-pane <%= "active" if first %>" id="<%= package.id %>">
    <button type="submit" class="btn btn-success ">新增零件</button>
        <button type="submit" class="btn btn-success ">新增零件小包</button>
  	<ul class="thumbnails center" id="itemContainer">
  		<% package.parts.each do |part| %>
	  <li class="span3">
	    <div class="thumbnail">
	      <img src="/products/<%= part.spec.product.image_url %>" alt="" style="width:auto;height: 60px;">
	      <h3><%= part.spec.bh %></h3>
	      <p>
	      	件数：<%=  part.quantity %>
	      	颜色：
	      	名称：
	      </p>
	    </div>
	  </li>
	  <% end %>

	</ul>
  </div>
  

<% end %>
</div>
</div>
<!-- end tabbable -->


<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>

</div>
</div>

</div>