<div class="contentwrapper"><!--Content wrapper-->
<%= render '/share/head',:title=>'成品管理',:here=>'成品明细' %>

<p id="notice"><%= notice %></p>

<div class="row-fluid">
    <div class="span12">

      <div class="well">
        <span>
        成品：<%= @toy.name %>  
        </span>
        <button type="submit" class="btn btn-success ">改名</button>
        <button type="submit" class="btn btn-success ">新增零件包</button>
      </div>

  <div class="tabbable tabs-left">
<ul class="nav nav-tabs " id="myTab">
	<% first=true %>
<% @toy.packages.each do |package| %>

  <li  <%= "class='active'" if first %> >
  	<a href="#<%= package.id %>"><%= package.name %></a>
  </li>  
  <% first=false %>
<% end %>

</ul>

<div class="tab-content">
	<% first=true %>
<% @toy.packages.each do |package| %>

  <div class="tab-pane <%= "active" if first %>" id="<%= package.id %>">
    <% first=false %>
    <ul class="nav nav-tabs " id="package_tab">
      
      <li class="active">
        <a href="#p<%= package.id %>" data-toggle='tab'>大零件包</a>
      </li>
      <% package.children.each do |s| %>
      <li class="">
        <a href="#p<%= s.id %>" data-toggle='tab'>
          <%= s.name %>
        </a>
      </li>
      <% end %>
      
      </ul>  
        
      
      <div class="tab-content" id="package_content">
        <div class="tab-pane active" id="p<%= package.id %>">
        	<ul class="thumbnails center" id="itemContainer">
        		<% package.parts.each do |part| %>
            <% @part=part %>
            <%= render '/parts/part_pic',:object=>@part %>
        	  
        	  <% end %>

      	   </ul>
        </div>
        <% package.children.each do |s| %>
          <div class="tab-pane " id="p<%= s.id %>">
            <ul class="thumbnails center" id="itemContainer">
              <% s.parts.each do |part| %>
               <% @part=part %>
                <%= render '/parts/part_pic',:object=>@part %>
            
              <% end %>

             </ul>
          </div>
        <% end %>
      </div>
  </div>
  

<% end %>
</div>
</div>
<!-- end tabbable -->


<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>

</div>
</div>

</div>