<div class="contentwrapper"><!--Content wrapper-->
<%= render '/share/head',:title=>'成品管理',:here=>'成品明细' %>

<p id="notice"><%= notice %></p>

<div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>成品：<%= @toy.name %>  </span>
          </h4>
          
        </div>
      <div class="content ">
        <div style="padding:0 0 10px 0;" class="btn-group">
        <%= link_to '编辑', edit_toy_path(@toy),:class=>'btn' %> 
        <%= link_to '返回列表', toys_path,:class=>'btn' %>
        
        </div>

  <div class="tabbable tabs-left">
<ul class="nav nav-tabs " id="myTab">
	<% first=true %>
<% @toy.packages.each do |package| %>

  <li  <%= "class='active'" if first %> >
  	<a href="#<%= package.id %>">零件包：<%= package.name %></a>
  </li>  
  <% first=false %>
<% end %>

</ul>

<div class="tab-content">


	<% first=true %>
<% @toy.packages.each do |package| %>

  <div class="tab-pane <%= "active" if first %>" id="<%= package.id %>">
    <% first=false %>
    <ul class="nav nav-tabs " id="package_tab">
      
      <li class="active">
        <a href="#p<%= package.id %>" data-toggle='tab'>零件列表</a>
      </li>
      <% package.children.each do |s| %>
      <li class="">
        <a href="#p<%= s.id %>" data-toggle='tab'>
          小包：<%= s.name %>
        </a>
      </li>
      <% end %>
      
      </ul>  
        
      
      <div class="tab-content" id="package_content">
        <div class="tab-pane active" id="p<%= package.id %>">
        	<ul class="thumbnails center" id="itemContainer">
        		<% package.parts.each do |part| %>
            <% @part=part %>
            <%= render '/parts/part_pic',:object=>@part %>
        	  
        	  <% end %>

      	   </ul>
        </div>
        <% package.children.each do |s| %>
          <div class="tab-pane " id="p<%= s.id %>">
            <ul class="thumbnails center" id="itemContainer">
              <% s.parts.each do |part| %>
               <% @part=part %>
                <%= render '/parts/part_pic',:object=>@part %>
            
              <% end %>

             </ul>
          </div>
        <% end %>
      </div>
  </div>
  

<% end %>
</div>
</div>
<!-- end tabbable -->




</div><!-- end content -->
</div><!-- end box -->
</div><!-- end span12 -->
</div><!-- end row-fluid -->
</div><!-- end wrapper -->