<%= simple_form_for @user do |f| %>
  <%#= render 'shared/error_messages', :target => @user %>
  <%= f.input :username %>
  <%= f.input :name %>
  <%= f.input :email, :as => :email, :input_html => { :class => "xxlarge" } %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.input :disabled %>
  <% for role in Role.all %>
<div>
  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
  <%=h role.title %>
</div>
<% end %>
<%= hidden_field_tag "user[role_ids][]", "" %>
  
  <div class="form-actions">
    <%# if @user.state != User::STATE[:deleted] %>
      <div class="pull-right">
        <%#= link_to '删除此用户', user_path(@user), 'data-confirm' => '警告！此动作无法撤销，确定要删除么?', :method => :delete, :class => "btn btn-danger"  %>
      </div>
    <%# end %>
    <%= f.submit "保存", :class => "btn btn-primary", 'data-disable-with' =>"保存中……" %>
    或者
    <%= link_to 'Back', users_path %>
  </div>
<% end %>
