<div class="contentwrapper"><!--Content wrapper-->
  <%= render "/share/head",:title=>"物料库存",:here=>"物料库存" %>

  

  <div class="row-fluid"  >
    <div class="span12" id="msg" >
      <%= notice_message %>
    </div>
  </div>

  <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>库存</span>
          </h4>
        </div>

        <div class="content noPad">


          <div class="row-fluid" style="padding:10px;">
            <div class="span4 btn-toolbar">
              <div class="btn-group " >
                <%= link_to '新增物料', new_goods_stock_path,:class=>"btn",:remote=>true %>                   
              </div>    
              <div class="btn-group " >
                <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#" style="padding-bottom: 4px;">
                  <%= @goods_category.nil? ? '所有物料' : @goods_category.name   %>
                  <span class="caret"></span>
                </a>             
                <ul class="dropdown-menu">
                      <li>
                        <a href="/goods_stocks" >
                          所有物料
                        </a>
                      </li>
                      <% GoodsCategory.all.each do |goods_category| %>
                      <li>
                        <%= link_to goods_category.name,:action=>'index',:goods_category_id=>goods_category.id %>
                      </li>
                      <% end %>                     
                    
                </ul>
                </div>

            </div >
              <div class="span2" style="padding-top:7px;">
                <span>
                
                </span>
              </div>
              <div class="span6">
              <form class="form-inline " style="padding-left:20px;" action="<%=  goods_stocks_path %>">    
                <% if @goods_category %>
                <input type="hidden" name="goods_category_id" value=<%= @goods_category.id %> >
                <% end %>
                <input type="text" class="input-medium " name="search"/>
                <button type="submit" class="btn">搜索</button>
              </form>
            </div>
            
          </div>


          <table id="goods_stocks" class="responsive table table-bordered ">
            <thead>
              <tr>
                <th>#</th>                
                <th>名称</th>  
                <th>分类</th>  
                <th>供应商</th>                         
                <th>数量</th>
                <th>备注</th>             
                <th>操作</th>

              </tr>
            </thead>
            <tbody id="items">
              <%= render(@goods_stocks) %>
            </tbody>
          </table>
           <%= will_paginate @goods_stocks, :inner_window => 2,:params=>{:search=>@search,:goods_category_id=>@goods_category_id} %>
        </div>
  </div>

</div>

<div id="form-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">货物信息</h3>
  </div>
  <div class="modal-body">

  </div>

</div>



