<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bh,label: '订单号' %>
    <%= f.input :company,label: '公司名称' %>
    <%= f.input :mark,label: '唛头' %>
    <%= f.input :total %>
  </div>
  <table>   
  
    <%= f.fields_for :order_items do |builder| %>
    <%= render 'order_item_fields', :f => builder %>
    <% end %>
  </table>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
