<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bh,label: '订单号' %>
    <%= f.input :company,label: '公司名称' %>
    <%= f.input :mark,label: '唛头' %>
    
  </div>
  <%= link_to_add_fields "添加订单项", f, :order_items %>
  <table>   
  
    <%= f.fields_for :order_items do |builder| %>
    <%= render 'order_item_fields', :f => builder %>
    <% end %>
  </table>
  <div class="form-actions">
    <input class="btn btn-primary"  name="commit" type="submit" value="保存订单">
    <%#= f.button :submit,:value=> '保存订单',input_html: {class: 'btn btn-primary'} %>
  </div>
<% end %>
<script type="text/javascript">
  function remove_fields(link) {  
      $(link).prev("input[type=hidden]").val("1");  
      $(link).parents("tr").hide();  
  }  
  function add_fields(link, association, content) {  
    var new_id = new Date().getTime();  
    var regexp = new RegExp("new_" + association, "g");  
    $(link).next("table").append(content.replace(regexp, new_id) );        
    
  }  
  
</script>
