<h1>Listing permissions</h1>

<table>
  <tr>
    <th>action</th>
    <th>subject</th>
    <th>描述</th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.action %></td>
    <td><%= permission.subject %></td>
    <td><%= permission.description %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission', new_permission_path %>
