<div class="contentwrapper"><!--Content wrapper-->
  <%= render '/share/head',:title=>'生产管理',:here=>'生产单编辑' %>

  <div class="row-fluid">
    <div class="span12" id="msg">
      <%= notice_message %>
    </div>
  </div> 

  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="title">
          <h4>
            <span class="icon16 brocco-icon-grid"></span>
            <span>生产单:<%= @porder.name %></span>
          </h4>
          
        </div>
        <div class="content noPad">
        <% if @porder.toy %> 
        <div style="padding: 15px;height:30px;">
            
            <%= form_for(@porder,:html=>{:class=>"form-inline pull-left"} ) do |f| %>
              
                <span>
                  成品名称：<%= @toy.name %>
                </span>
                <%= f.label :quantity,"数量" %>        
                <%= f.text_field :quantity %>
                <%= f.hidden_field :toy_id %>
                <a  class="btn" href="#" id='js'>计算</a>
                <button type="submit" class="btn btn-success">下单</button>
              
            
            
            <script type="text/javascript">
              $("a#js").on( "click", function( event ) {

               var q=$("input#porder_quantity").val();
                var zs=0;
                var kc=0;
                var ky=0;
                var wait_for_out=0;
                $("tbody#parts tr").each(function(index){
                  zs=parseInt($(this).find("#sl").text())*q;
                  kc=parseInt($(this).find("#kc").text());
                  wait_for_out=parseInt($(this).find("#wait_for_out").text());
                  ky=kc-zs-wait_for_out;
                  if(ky<=0){
                    $(this).children("#ky").text(ky);
                  }else{
                    $(this).children("#ky").text('');
                  }
                  ;
                  $(this).children("#zs").text(parseInt($(this).find("#sl").text())*q);
                  $(this).children("#zzl").text( Math.round(parseInt($(this).find("#sl").text())*q*parseFloat($(this).find("#zl").text())*100)/100 );
                }) ;
              }
              )
            </script>

          </div>
          <div style="padding: 5px 0 15px 15px;">
            <% @toy.packages.each do |package| %>

              <label class="checkbox inline">
                <input type="checkbox" id="inlineCheckbox1" value="<%= package.id %>" checked=true class="parent_package" > 零件包：<%= package.name %>
              </label>
              <% package.children.each do |sp| %>
                <label class="checkbox inline">
                  <input type="checkbox" id="inlineCheckbox1" value="<%= sp.id %>" checked=true class="child_package">零件小包： <%= sp.name %>
                </label>
              <% end %>
            <% end %>
            <SCRIPT TYPE="text/javascript">
            $(".parent_package").on("click",function(event){
            console.log($(this).val());
            v=$(this).val();
            if($(this).attr("checked")) {
            $("[parent='"+v+"']").attr("checked",'true');
            }else{
            $("[parent='"+v+"']").removeAttr("checked");
            }

            })
            $(".child_package").on("click",function(event){
            console.log($(this).val());
            v=$(this).val();
            if($(this).attr("checked")) {
            $("[child='"+v+"']").attr("checked",'true');
            }else{
            $("[child='"+v+"']").removeAttr("checked");
            }

            })
            </SCRIPT>
          </div>
          <table id="DataTables_Table_0" class="responsive table table-bordered ">
            <thead>
              <tr>
                <th></th>
                <th>
                  零件包
                </th>                
                <th>零件编号</th>
                <th>单个重量</th>
                <th>每包数量</th>
                <th>每个成品零件总数</th>
                <th>总重量</td>
                <th>总件数</th>
                <th>库存</th>
                <th>等待出库</th>
                <th>库存不足</th>
              </tr>
            </thead>
            <tbody id="parts">
              <% @parts.each do |part| %>
              <%
                pg=part.package.parent_id ?  part.package.parent.quantity*part.package.quantity : part.package.quantity
                
              %>
              <tr>
                <td>
                  <% if @part_ids.include?(part.id) %>
                  <input type="checkbox" id="inlineCheckbox1" name="part_ids[]" value="<%= part.id %>" checked=true  id="" <%= part.package.parent ? "parent=#{part.package.parent.id} child=#{part.package.id}" : "parent=#{part.package.id} " %> />
                  <% else %>
                  <input type="checkbox" id="inlineCheckbox1" name="part_ids[]" value="<%= part.id %>"  id="" <%= part.package.parent ? "parent=#{part.package.parent.id} child=#{part.package.id}" : "parent=#{part.package.id} " %> />
                  <% end %>
                </td>
                <td>
                  <%= part.package.parent_id ?  "#{part.package.parent.name}--[#{part.package.name}]" : "#{part.package.name}"  %>
                </td>                
                <td>
                  <%= part.spec.bh %>
                </td>
                <td id="zl">
                  <%= number_with_precision(part.spec.product.weight) || "未知" %>
                </td>
                <td >
                  <%= part.quantity %>
                </td>
                <td id="sl">
                  <%= part.quantity*pg %>
                </td>
                <td id="zzl">
                  <%= part.spec.product.weight.nil? ? "未知" : number_with_precision(part.quantity*pg*@quantity*part.spec.product.weight) %>
                </td>
                <td id='zs'>
                  <%= part.quantity*pg*@quantity %>
                </td>
                
                <td id="kc">
                  <%= kc=part.spec.stock.nil? ? 0 : part.spec.stock.quantity %>
                </td>
                <td id="wait_for_out">
                  <%= w=part.spec.parts.sum{|part| part.porder_items.sum{|item| item.quantity } } %>
                </td>
                <td id="ky">
                  <%= kc-part.count_in_toy*@quantity-w if kc-part.count_in_toy*@quantity-w<=0 %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>


          <% end %>
            <div class="row-fluid" style="padding: 10px;">
            
              
            </div>
                        
          </div>
          
         <% else %> 
         <%= render "alone_form" %>
         <% end %>
        </div>

      </div><!-- End .box -->

    </div>

  </div>

</div>