<h1>Listing porders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Toy</th>
    <th>Quantity</th>
    <th>User</th>
    <th>Outstock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @porders.each do |porder| %>
  <tr>
    <td><%= porder.name %></td>
    <td><%= porder.toy_id %></td>
    <td><%= porder.quantity %></td>
    <td><%= porder.user_id %></td>
    <td><%= porder.outstock_id %></td>
    <td><%= link_to 'Show', porder %></td>
    <td><%= link_to 'Edit', edit_porder_path(porder) %></td>
    <td><%= link_to 'Destroy', porder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Porder', new_porder_path %>
